@use "src/assets/styles/variables";

.button {
  width: 260px;
  font-family: Montserrat, sans-serif;
}

.primary {
  @extend .button;
  color: #fff;
  background-color: variables.$red;
}

.secondary {
  @extend .button;
  background-color: variables.$orange;
}
