@use "src/assets/styles/colors";

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.open {
  opacity: 1;
  visibility: visible;
}

.close {
  opacity: 0;
  visibility: hidden;
}

.box {
  min-width: 200px;
  background-color: colors.$white;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  font-family: Raleway, sans-serif;
}

.iconButton {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  border-radius: 50%;

  svg {
    width: 20px;
    height: 20px;
  }

  &:focus {
    outline-color: colors.$gray_accent;
  }
}
