@use "src/assets/styles/colors";

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  font-family: Raleway, sans-serif;
  font-size: 13px;
  margin-bottom: 4px;
  font-weight: 500;
}

.input {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  color: colors.$text_dark_primary;
  height: 40px;
  border: 1px solid colors.$border_primary;
  border-radius: 6px;
  padding-left: 12px;
  margin-bottom: 6px;

  &::placeholder {
    color: colors.$text_dark_gray;
  }

  &:focus {
    outline: 1px solid colors.$gray_accent_focus;
  }
}

.inputError {
  outline: 1px solid colors.$red;
}

.textarea {
  @extend .input;
  min-width: 200px;
  max-width: 100%;
  padding-top: 12px;
}

.helper {
  font-size: 12px;
  font-family: Raleway, sans-serif;
  color: colors.$text_dark_gray;
  margin-top: 0;
  margin-left: 6px;
  margin-bottom: 6px;
}

.errorHelper {
  @extend .helper;
  color: colors.$red;
}

.small {
  height: 32px;
}

.normal {
  height: 40px;
}

.large {
  height: 50px;
}
