$white: #fff;
$black: #000;

$blue: #005eb8;
$dark_blue: #0072ce;
$blue_accent: #e5e6f6;
$blue_accent_hover: #dfe0ef;

$red: #ef8784;
$red_accent: #f9ded3;
$red_accent_hover: #efd5ca;

$green: #c0a132;
$green_accent: #def6e7;
$green_accent_hover: #d2eadb;

$yellow: #eeae3c;
$yellow_accent: #e8eccb;
$yellow_accent_hover: #dbdfbf;

$gray: #98a0a8;
$gray_accent: #eceaec;
$gray_accent_focus: #e1dfe1;
$gray_accent_hover: #e6e3e6;
